<%- include("../partials/admin/header.ejs")%>
<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">Form Inputs Page</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Data</li>
    </ol>
  </div>
  <div id="page-inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-action">Basic Form Elements</div>
          <div class="card-content">
            <form class="col s12" action="/admin/addCategory" method="post" id="catForm">
              <div class="row">
                <div class="input-field col s6">
                  <input
                    id="categoryName"
                    type="text"
                    class="validate"
                    name="categoryName"
                  />
                  <span id="error1" class="error-message"></span>
                  <label for="categoryName">Category Name</label>
                </div>
              </div>

              <div class="row">
                <div class="col s12">
                  <div class="input-field inline">
                    <input type="submit" />
                  </div>
                </div>
              </div>
            </form>
            <div class="clearBoth"></div>
          </div>
        </div>
      </div>
    </div>
    <%- include("../partials/admin/footer.ejs")%>
  </div>
</div>
<script>
  const nameid = document.getElementById("categoryName")
  const error1 = document.getElementById("error1")
  const catForm = document.getElementById("catForm")
  
  function nameValidate(e) {
    const nameVal = nameid.value;
    const namePattern = /^[A-Za-z\s]+$/;
    if(nameVal.trim()===""){
      error1.style.display = "block"
      error1.innerHTML = "Please enter a valid Category Name"
    }else if(!namePattern.test(nameVal)){
      error1.style.display = "block"
      error1.innerHTML = "Name can only contain alphabets"
    }
    else{
      error1.style.display = "none"
      error1.innerHTML = ""
    }
  }
  document.addEventListener("DOMContentLoaded",()=>{
        catForm.addEventListener("submit",(e)=>{
            nameValidate();
            if(!nameid){
                console.log("One or more elements not found")
            }
            if(error1.innerHTML){
                e.preventDefault();
            }
        })
    })

</script>

