<%- include("../partials/admin/header.ejs")%>
<div id="page-wrapper">
  <div class="header">
    <h1 class="page-header">Form Inputs Page</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Forms</a></li>
      <li class="active">Data</li>
    </ol>
  </div>
  <div id="page-inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-action">Basic Form Elements</div>
          <div class="card-content">
            <form
              class="col s12"
              action="/admin/addProduct"
              method="post"
              enctype="multipart/form-data"
              id="prodForm"
            >
              <div class="row">
                <div class="input-field col s6">
                  <input
                    id="productName"
                    type="text"
                    class="validate"
                    name="productName"
                  />
                  <span id="error1" class="error-message"></span>
                  <label for="productName">Product Name</label>
                </div>
                <div class="input-field col s6">
                  <input
                    id="price"
                    type="number"
                    class="validate"
                    name="price"
                  />
                  <span id="error2" class="error-message"></span>
                  <label for="price">Price</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input
                    id="description"
                    type="text"
                    class="validate"
                    name="description"
                  />
                  <span id="error3" class="error-message"></span>
                  <label for="description">Description</label>
                </div>
              </div>
              <div class="row">
                <label class="pm-label" for="pm-images"
                  >Product Images (Minimum 3)</label
                >
                <input
                  class="pm-input-file"
                  type="file"
                  id="pm-images"
                  name="productImage"
                  accept="image/*"
                  multiple
                  required
                />
              </div>
              <div id="cropper-container">
                <img id="image-preview" style="max-width: 100%" />
              </div>

              <button id="crop-button" type="button">Crop Image</button>
              <div class="row">
               
                <div class="input-field col s6">

                  <label style="position: relative" for="category">Category</label>

                 <select style="display: block;" name="category" id="category" >
                    <%for(let i = 0;i<category.length;i++){%>
                      <option value="<%=category[i].categoryName%>"><%=category[i].categoryName%></option>
                      <%}%>                
                    </select>
                  </div>
              </div>

 
              <div class="pm-variant-group">
                <h3 class="pm-variant-heading">Variants</h3>
                <label class="pm-label" for="pm-version">Version</label>
                <span id="error4" class="error-message"></span>

                <input
                  class="pm-input"
                  type="text"
                  id="version"
                  name="version"
                  required
                />

                <div class="pm-form-group">
                  <label class="pm-form-label" for="stock">Stock</label>
                  <span id="error5" class="error-message"></span>
                  <input
                    class="pm-form-input"
                    type="number"
                    id="stock"
                    name="stock"
                    required
                  />
                 
                </div>

                <label class="pm-label">Platforms</label>
                <div class="pm-checkbox-group">
                  <label class="pm-checkbox-label" for="pm-platformPC">
                    PC
                  </label>
                  <input
                    type="checkbox"
                    id="pm-platformPC"
                    name="platforms[0]"
                    value="PC"
                  />
                  <label class="pm-checkbox-label" for="pm-platformPS5">
                    PS5
                  </label>
                  <input
                    type="checkbox"
                    id="pm-platformPS5"
                    name="platforms[1]"
                    value="PS5"
                  />
                  <label class="pm-checkbox-label" for="pm-platformPS6">
                    PS6
                  </label>
                  <input
                    type="checkbox"
                    id="pm-platformPS6"
                    name="platforms[2]"
                    value="PS6"
                  />
                  <label class="pm-checkbox-label" for="pm-platformXbox">
                    Xbox
                  </label>
                  <input
                    type="checkbox"
                    id="pm-platformXbox"
                    name="platforms[3]"
                    value="Xbox"
                  />
                  <label class="pm-checkbox-label" for="pm-platformSteam">
                    Steam
                  </label>
                  <input
                    type="checkbox"
                    id="pm-platformSteam"
                    name="platforms[4]"
                    value="Steam"
                  />
                </div>
                
              </div>

              <div class="row">
                <div class="col s12">
                  <div class="input-field inline">
                    <input type="submit" />
                  </div>
                </div>
              </div>
            </form>
            <div class="clearBoth"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const nameid = document.getElementById("productName");
      const priceid = document.getElementById("price");
      const descriptionid = document.getElementById("description");
      const versionid = document.getElementById("version");
      const stockid = document.getElementById("version");
      const error1 = document.getElementById("error1");
      const error2 = document.getElementById("error2");
      const error3 = document.getElementById("error3");
      const error4 = document.getElementById("error4");
      const error5 = document.getElementById("error5");
      const prodForm = document.getElementById("prodForm");

      function nameValidate(e) {
        const nameVal = nameid.value;
        const namePattern = /^(?!\d+$)[a-zA-Z0-9]+$/;
        if (nameVal.trim() === "") {
          error1.style.display = "block";
          error1.innerHTML = "Please Enter a Valid Product Name";
        } else if (!namePattern.test(nameVal)) {
          error1.style.display = "block";
          error1.innerHTML = "Name can only contain Numbers and Alphabets";
        } else {
          error1.style.display = "none";
          error1.innerHTML = "";
        }
      }
      function priceValidate(e) {
        const priceVal = priceid.value;
        const pricePattern = /^\d+$/;
        if (priceVal.trim() === "") {
          error2.style.display = "block";
          error2.innerHTML = "Please enter a valid price";
        } else if (!pricePattern.test(priceVal)) {
          error2.style.display = "block";
          error2.innerHTML = "Price can only include numbers";
        } else {
          error2.style.display = "block";
          error2.innerHTML = "";
        }
      }
      function descriptionValidate(e) {
        const descriptionVal = descriptionid.value;
        const descriptionPattern = /^(\b[a-zA-Z0-9]+\b\s*){60,}$/;
        if (descriptionVal.trim() === "") {
          error3.style.display = "block";
          error3.innerHTML = "Enter a valid description";
        } else if (!descriptionPattern.test(descriptionVal)) {
          error3.style.display = "block";
          error3.innerHTML =
            "Description should contain atleast 60 words and no special characters are allowed";
        } else {
          error3.style.display = "none";
          error3.innerHTML = "";
        }
      }
      function versionValidate(e) {
        const priceversionVal = versionid.value;
        const versionPattern = /^\d+(\.\d+)?$/;
        if (priceVal.trim() === "") {
          error4.style.display = "block";
          error4.innerHTML = "Please enter a valid version";
        } else if (!pricePattern.test(priceVal)) {
          error4.style.display = "block";
          error4.innerHTML = "Price can only include numbers and a single dot";
        } else {
          error4.style.display = "block";
          error4.innerHTML = "";
        }
      }
      function stockValidate(e) {
        const stockVal = stockid.value;
        const stockPattern = /^\d+$/;
        if (stockVal.trim() === "") {
          error5.style.display = "block";
          error5.innerHTML = "Please enter a valid stock";
        } else if (!stockPattern.test(stockVal)) {
          error5.style.display = "block";
          error5.innerHTML = "Stock can only include numbers";
        } else {
          error5.style.display = "block";
          error5.innerHTML = "";
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        prodForm.addEventListener("submit", (e) => {
          nameValidate();
          priceValidate();
          descriptionValidate();
          stockValidate();
          versionValidate();
          if (!nameid || !priceid || !descriptionid || !versionid || !stockid) {
            console.log("One or more elements not found");
          }
          if (
            error1.innerHTML ||
            error2.innerHTML ||
            error3.innerHTML ||
            error4.innerHTML ||
            error5.innerHTML
          ) {
            e.preventDefault();
          }
        });
      });
    </script>

    <%- include("../partials/admin/footer.ejs")%>
  </div>
</div>
