body, html {
    height: 100%;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    background-color: rgb(255, 255, 255);
}
h3{
    font-weight: bold;
}
.container-unique {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-wrap-unique {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgb(105, 104, 104);
}

.heading-s1-unique h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.form-group-unique {
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.otp-timer-unique {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0 2px 5px rgba(170, 255, 23, 0.1);
}
p.sub-title {
    color: #B5BAB8;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  p span.phone-number {
    display: block;
    color: #093030;
    font-weight: 600;
  }
  

#timerValue {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 60px;
}

#timerValue.expired {
    font-size: 14px;
    color: red;
}

.btn-primary-unique {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-top: 10px;
    display: block;
}

.btn-primary-unique:hover {
    background-color: #003875;
    cursor: pointer;
}

.btn-secondary-unique {
    width: 100%;
    background-color: #ff0a0a;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    display: block;
}

.btn-secondary-unique:hover {
    background-color: #970505;
    cursor: pointer;
}

.alert-danger-unique {
    margin-top: 15px;
    text-align: center;
}

.text-center-unique {
    text-align: center;
    margin-top: 15px;
}

.text-muted-unique {
    color: #6c757d;
    text-align: center;
}

.pt-25-unique {
    padding-top: 25px;
}