<%- include("../partials/user/header.ejs")%>
<style>
  /* Toast notification styles */
.toast {
visibility: hidden;
min-width: 250px;
margin-left: -125px;
background-color: #dd2020; /* Green background */
color: white;
text-align: center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
left: 50%;
bottom: 30px;
font-size: 17px;
}

/* Show the toast */
.toast.show {
visibility: visible;
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;} 
to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;} 
to {bottom: 0; opacity: 0;}
}

</style>
<div class="login-container">
  <div class="inside-login-main">
    <div class="login-main">
      <form action="/login" method="post">
        <label for="chk" aria-hidden="true" class="login-label">Login</label>
        <input
          type="text"
          name="phoneNumber"
          placeholder="Phone number or email"
          required=""
          id="email"
          class="login-input"
        />
            <input
            type="password"
            name="password"
            placeholder="Password"
            required=""
            class="login-input"
          /><i class="fa-solid fa-eye" ></i>
     
        <input type="submit" class="login-button" />
        <a
          href="/auth/google"
          class="googlelogin-button"
          style="text-align: center; justify-content: center;text-decoration: none;"
          >Login With Google</a
        >
        <a id="forgotlink"
        href="/forgotPassword"
        class="googlelogin-button"
        style="text-align: center; justify-content: center; background-color: #dd2020; text-decoration: none;"
        >Forgot Password</a
      >
        <% if(typeof message !== 'undefined'){ %>
        <h3 style="color: red; font-weight: bold"><%= message %></h3>
        <% } %>
        <p class="notRegister">
          Not registered? <a href="/signup">Create an account</a>
        </p>

        <div id="toast" class="toast">
        </div>
      </form>
    </div>
  </div>
</div>
<script>
      function showToast(message) {
  const toast = document.getElementById("toast");
  toast.innerHTML = message
  toast.className = "toast show";
  setTimeout(() => {
    toast.className = toast.className.replace("show", "");
  }, 3000); // The toast will disappear after 3 seconds
}
document.addEventListener('DOMContentLoaded',()=>{
  const emailid = document.getElementById("email")
  const forgotlink = document.getElementById("forgotlink")
  const url = forgotlink.getAttribute('href')
  forgotlink.addEventListener('click',async(event)=>{
    event.preventDefault()
    const email = emailid.value
    const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

if(!emailPattern.test(email)){
  alert("Please enter your email to reset your password")
  return
}else{
  try {
    const response = await fetch('/forgotPassword', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ email }), // Sending the email value in the request body
      });
        if (response.ok) {
          const data = await response.json();
          showToast(data.message); // Show toast notification
          setTimeout(() => {
            window.location.href = data.redirectUrl; // Redirect after a delay
          }, 2000); // 2-second delay before redirecting
        }else{
          const data = await response.json()
          showToast(data.message||"Something Went Wrong")
        }
      } catch (error) {
        console.error('Error adding to cart:', error);
      }
}
  })
})
  
</script>
<%- include("../partials/user/footer.ejs")%>
