<%- include("../partials/user/header.ejs")%>



<div class="container-fluid">
    <!--container-->
    <div class="container ">
        <div class="signup-login-form">
            <div id="login-box">
                <div class="row">
                    <div class="left col-sm-6">
                        <h1>Sign in</h1>
                        <input type="email" name="email" placeholder="E-mail" />
                        <input type="password" name="password" placeholder="Password" />
                        <input type="submit" name="signup_submit" value="Sign In" />
                        <%
if(typeof message !== 'undefined'){
    %>
<p style="color: rgb(255, 0, 0); font-weight: bold;"><%=  message  %></p>
<%
}
%>
                    </div>
                    <div class="right col-sm-6">
                        <div class="or">or</div>
                        <div class="loginwith">Sign in with social network</div>
                        <button class="social-signin facebook">Log in with facebook</button>
                        <button class="social-signin twitter">Log in with Twitter</button>
                        <button class="social-signin google">Log in with Google+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/container-->
</div>


<%- include("../partials/user/footer.ejs")%>
