<%- include("../partials/user/header.ejs")%>
<style>
    .error{
        color: red;
    }
</style>
<div class="login-container">
  <div class="inside-login-main">
    <div class="login-main">
      <form action="/resetPassword" method="post" id="resetForm">
        <label for="chk" aria-hidden="true" class="login-label">Reset Password</label>
        <input type="hidden" value="<%=user._id%>" id="userid" name="userid">
        <input
          type="password"
          name="password"
          placeholder="Password"
          required=""
          id="password"
          class="login-input"
        />
        <span id="error1" class="error"></span>
            <input
            type="password"
            name="cPassword"
            placeholder="Confirm Password"
            required=""
            class="login-input"
            id="cPassword"
          />
          <span id="error2" class="error"></span>
     
        <input type="submit" class="login-button" />
        <% if(typeof message !== 'undefined'){ %>
        <h3 style="color: red; font-weight: bold"><%= message %></h3>
        <% } %>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
const passid = document.getElementById('password')
const cpassid = document.getElementById('cPassword')
const error1 = document.getElementById('error1')
const error2 = document.getElementById('error2')
const resetForm = document.getElementById('resetForm')
function passValidate(e){
        const passVal = passid.value;
        const cpassVal = cpassid.value;
        const passPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if(!passPattern.test(passVal)){
            error1.style.display = "block";
            error1.innerHTML = "Password should contain alphabets,numbers and special characters and should be atleast 8 characters long"
        }else{
            error1.style.display = "none";
            error1.innerHTML = "";
        }
        if(passVal !== cpassVal){
            error2.style.display = "block";
            error2.innerHTML = "Passwords do not match"
        }else{
            error2.style.display = "none";
            error2.innerHTML = "";
        }

    }
    document.addEventListener('DOMContentLoaded',()=>{
        resetForm.addEventListener('submit',async(event)=>{
            passValidate()
            if(error1.innerHTML){
                event.preventDefault()
            }
            else{
                try {
            const response = await fetch('/resetPassword')
        if(response.ok){
            const confirmation = confirm("Password has been reset please login with your new password")
            if(confirm){
                window.location.href = "/login"
            }
        }     
        } catch (error) {
            console.log("error at fetch in reset password :"+error);
            alert(error.message)
        }
            }
        })
       
    })
</script>
<%- include("../partials/user/footer.ejs")%>
