<%- include("../partials/user/header.ejs")%>

<form action="/verifyOtp" method="post">
  <div class="container">
    <h4>Enter OTP</h4>
    <div class="input-field">
      <input type="number"/>
      <input type="number"/>
      <input type="number"/>
      <input type="number"/>
      <button><input type="submit"></button>
     
    </div>
  </div>
</form>


<% if(typeof message !== 'undefined'){ %>
    <h3 style="color: red; font-weight: bold"><%= message %></h3>
    <% } %>






 <%- include("../partials/user/footer.ejs")%>
