<footer><p>All right reserved. Template by: <a href="https://webthemez.com/admin-template/">WebThemez.com</a></p>
				
        
</footer>
</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
</body>

<!-- for cropper js -->
<!-- <script>
 document.getElementById('pm-images').addEventListener('change', function (event) {
  const files = event.target.files;
  const imagePreview = document.getElementById('image-preview');

  if (files && files.length > 0) {
    const reader = new FileReader();

    reader.onload = function (e) {
      imagePreview.src = e.target.result;
      const cropper = new Cropper(imagePreview, {
        aspectRatio: 1,
        viewMode: 2,
      });

      document.getElementById('crop-button').addEventListener('click', function () {
        const canvas = cropper.getCroppedCanvas();
        const croppedImage = canvas.toBlob(function (blob) {
          const formData = new FormData();

          formData.append('croppedImage', blob, 'croppedImage.png');

          // Append other form data here
          formData.append('productName', document.getElementById('productName').value);
          formData.append('price', document.getElementById('price').value);
          formData.append('description', document.getElementById('description').value);
          formData.append('version',document.getElementById('pm-version').value)
          formData.append('stock', document.getElementById('stock').value)
          const platforms = [];
          document.querySelectorAll('input[name="platforms"]:checked').forEach((checkbox) => {
          platforms.push(checkbox.value);
          });
          formData.append('platforms', JSON.stringify(platforms));
          // Append other variant data similarly

          // Send the form data to the server via AJAX or any preferred method
          fetch('/admin/addProduct', {
      method: 'POST',
      body: formData,
    }).then(response => {
      if(!response.ok){
        throw new Error("HTTP error ! :"+response.status)
      }
      return response.json();
    }).then(data=>{
        console.log("product added succesfully");
        window.location.href = "/admin/addProducts"
    })
    .catch(error => {
      console.log("error in fetch :"+error);
      
    });
        });
      });
    };

    reader.readAsDataURL(files[0]);
  }
});


</script> -->

<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="/assets/js/jquery-1.10.2.js"></script>

<!-- Bootstrap Js -->
<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/materialize/js/materialize.min.js"></script>

<!-- Metis Menu Js -->
<script src="/assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="/assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="/assets/js/morris/morris.js"></script>


<script src="/assets/js/easypiechart.js"></script>
<script src="/assets/js/easypiechart-data.js"></script>

<script src="/assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="/assets/js/custom-scripts.js"></script> 

<!-- for cropper js -->
<script src="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.js"></script>




</html>