<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME SHOP</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link
      rel="stylesheet"
      href="/assets/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <!-- Bootstrap Styles-->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/assets/js/Lightweight-Chart/cssCharts.css" />
    <link rel="stylesheet" href="/css/productManagementStyle.css" />
    <!-- for cropperjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle waves-effect waves-dark"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand waves-effect waves-dark" href="index.html"
            ><span class="large material-symbols-outlined"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="4px" fill="#e8eaed"><path d="M189-160q-60 0-102.5-43T42-307q0-9 1-18t3-18l84-336q14-54 57-87.5t98-33.5h390q55 0 98 33.5t57 87.5l84 336q2 9 3.5 18.5T919-306q0 61-43.5 103.5T771-160q-42 0-78-22t-54-60l-28-58q-5-10-15-15t-21-5H385q-11 0-21 5t-15 15l-28 58q-18 38-54 60t-78 22Zm3-80q19 0 34.5-10t23.5-27l28-57q15-31 44-48.5t63-17.5h190q34 0 63 18t45 48l28 57q8 17 23.5 27t34.5 10q28 0 48-18.5t21-46.5q0 1-2-19l-84-335q-7-27-28-44t-49-17H285q-28 0-49.5 17T208-659l-84 335q-2 6-2 18 0 28 20.5 47t49.5 19Zm348-280q17 0 28.5-11.5T580-560q0-17-11.5-28.5T540-600q-17 0-28.5 11.5T500-560q0 17 11.5 28.5T540-520Zm80-80q17 0 28.5-11.5T660-640q0-17-11.5-28.5T620-680q-17 0-28.5 11.5T580-640q0 17 11.5 28.5T620-600Zm0 160q17 0 28.5-11.5T660-480q0-17-11.5-28.5T620-520q-17 0-28.5 11.5T580-480q0 17 11.5 28.5T620-440Zm80-80q17 0 28.5-11.5T740-560q0-17-11.5-28.5T700-600q-17 0-28.5 11.5T660-560q0 17 11.5 28.5T700-520Zm-360 60q13 0 21.5-8.5T370-490v-40h40q13 0 21.5-8.5T440-560q0-13-8.5-21.5T410-590h-40v-40q0-13-8.5-21.5T340-660q-13 0-21.5 8.5T310-630v40h-40q-13 0-21.5 8.5T240-560q0 13 8.5 21.5T270-530h40v40q0 13 8.5 21.5T340-460Zm140-20Z"/></svg></span>
            <strong>THE GAME SHOP</strong></a
          >
          <div id="sideNav" href=""><i class="material-symbols-outlined"></i></div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a
              class="dropdown-button waves-effect waves-dark"
              href="#!"
              data-activates="dropdown1"
              ><i class="fa fa-user fa-fw"></i> <b>Admin</b>
              <i class="material-icons right">arrow_drop_down</i></a
            >
          </li>
        </ul>
      </nav>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
        <li>
          <a href="#"><i class="fa fa-user fa-fw"></i> My Profile</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>
        <li>
          <a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
      <ul id="dropdown2" class="dropdown-content w250">
        <li>
          <div>
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="pull-right text-muted small">4 min</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
            <span class="pull-right text-muted small">12 min</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <i class="fa fa-envelope fa-fw"></i> Message Sent
            <span class="pull-right text-muted small">4 min</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <i class="fa fa-tasks fa-fw"></i> New Task
            <span class="pull-right text-muted small">4 min</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <i class="fa fa-upload fa-fw"></i> Server Rebooted
            <span class="pull-right text-muted small">4 min</span>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>See All Alerts</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 1</strong>
                <span class="pull-right text-muted">60% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div
                  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 60%"
                >
                  <span class="sr-only">60% Complete (success)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 2</strong>
                <span class="pull-right text-muted">28% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div
                  class="progress-bar progress-bar-info"
                  role="progressbar"
                  aria-valuenow="28"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 28%"
                >
                  <span class="sr-only">28% Complete</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 3</strong>
                <span class="pull-right text-muted">60% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div
                  class="progress-bar progress-bar-warning"
                  role="progressbar"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 60%"
                >
                  <span class="sr-only">60% Complete (warning)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <p>
                <strong>Task 4</strong>
                <span class="pull-right text-muted">85% Complete</span>
              </p>
              <div class="progress progress-striped active">
                <div
                  class="progress-bar progress-bar-danger"
                  role="progressbar"
                  aria-valuenow="85"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 85%"
                >
                  <span class="sr-only">85% Complete (danger)</span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="divider"></li>
        <li></li>
      </ul>

      <ul id="dropdown4" class="dropdown-content dropdown-tasks w250 taskList">
        <li>
          <div>
            <strong>John Doe</strong>
            <span class="pull-right text-muted">
              <em>Today</em>
            </span>
          </div>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since
            the 1500s...
          </p>
        </li>
        <li class="divider"></li>
        <li>
          <div>
            <strong>John Smith</strong>
            <span class="pull-right text-muted">
              <em>Yesterday</em>
            </span>
          </div>
          <p>
            Lorem Ipsum has been the industry's standard dummy text ever since
            an kwilnw...
          </p>
        </li>
        <li class="divider"></li>
        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <p>
              Lorem Ipsum has been the industry's standard dummy text ever since
              the...
            </p>
          </a>
        </li>
        <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
      <!--/. NAV TOP  -->
      <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="main-menu">
            <li>
              <a href="index.html" class="waves-effect waves-dark"
                ><i class="fa fa-dashboard"></i> Dashboard</a
              >
            </li>
            <li>
              <a href="#" class="waves-effect waves-dark"
                ><i class="fa fa-sitemap"></i> Products<span
                  class="fa arrow"
                ></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/admin/productManagement">Product Management</a>
                </li>
                <li>
                  <a href="/admin/addProduct">Add New Product</a>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="#" class="waves-effect waves-dark"
                ><i class="fa fa-sitemap"></i> Category Management<span
                  class="fa arrow"
                ></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/admin/categoryManagement">Category List</a>
                </li>
                <li>
                  <a href="/admin/addCategory">Add New Category</a>
                </li>
                <li>
                  <a href="#">Edit Category</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#" class="waves-effect waves-dark"
                ><i class="fa fa-sitemap"></i> Offers
                <span
                  class="fa arrow"
                ></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/admin/productManagement">Product Offers</a>
                </li>
                <li>
                  <a href="/admin/categoryOffer">Category Offers</a>
                </li>
                <li>
                  <a href="/admin/referralOffer">Referral Offers</a>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="/admin/orderManagement" class="waves-effect waves-dark"
                ><i class="fa fa-desktop"></i> Orders</a
              >
            </li>
            <li>
              <a href="chart.html" class="waves-effect waves-dark"
                ><i class="fa fa-bar-chart-o"></i> Banner</a
              >
            </li>
           
            <li>
              <a href="#" class="waves-effect waves-dark"
                ><i class="fa fa-sitemap"></i> Coupon Management<span
                  class="fa arrow"
                ></span
              ></a>
              <ul class="nav nav-second-level">
                <li>
                  <a href="/admin/couponManagement">Coupon List</a>
                </li>
                <li>
                  <a href="/admin/addCoupon">Add New Coupon</a>
                </li>
                
              </ul>
            </li>
            <li>
              <a href="/admin/userManagement" class="waves-effect waves-dark"
                ><i class="fa fa-table"></i> User Management</a
              >
            </li>
            <li>
              <a href="/admin/salesReport" class="waves-effect waves-dark"
                ><i class="fa fa-table"></i> Sales Report</a
              >
            </li>
            <li>
              <a href="form.html" class="waves-effect waves-dark"
                ><i class="fa fa-edit"></i> Log Out
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /. NAV SIDE  -->
    </div>
  </body>
</html>
